/* ==========================================================================
Abstract
========================================================================== */
:root {
  --clr-green: hsl(116, 17%, 66%);
  --clr-orange: hsl(15, 71%, 43%);
  --clr-red: hsl(356, 64%, 60%);
  --clr-paper: hsl(40, 7%, 84%);
  --clr-cream: hsl(33, 61%, 86%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(260, 7%, 8%);
  --clr-gray: hsl(50, 6%, 20%);
  --ff-regular: "Roboto", sans-serif;
  --ff-special: "Special Elite", serif;
  --fw-regular: 400;
  --fw-bold: 600;
  --fs-regular: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --fs-medium: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --fs-semilarge: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --fs-large: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);
}

/* ==========================================================================
HTML Elements
========================================================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: var(--ff-regular);
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  color: var(--clr-black);
  background-color: var(--clr-cream);
  line-height: 1.4;
  text-rendering: optimizeSpeed;
  min-height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: var(--clr-orange);
}

/* ==========================================================================
Base
========================================================================== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ==========================================================================
Components
========================================================================== */
.homepage-card, .homepage-card--first, .homepage-card--low {
  background-color: var(--clr-green);
  border-radius: 1rem;
  width: min(100%, 375px);
  height: -moz-max-content;
  height: max-content;
  justify-self: center;
}
.homepage-card--low {
  align-self: end;
  aspect-ratio: 1/1;
}
@media (min-width: 831px) {
  .homepage-card--first {
    order: -1;
  }
}
.homepage-card__article, .homepage-card__article--extra-pad {
  display: grid;
  padding: 1rem;
}
.homepage-card__article--extra-pad {
  padding-block: 3rem;
}
.homepage-card__article > * + *, .homepage-card__article--extra-pad > * + * {
  margin-top: 0.5rem;
}
.homepage-card__title, .homepage-card__title--large {
  font-size: var(--fs-semilarge);
  font-weight: var(--fw-bold);
  line-height: 1;
}
.homepage-card__title--large {
  font-size: var(--fs-large);
}
.homepage-card__image {
  margin-inline: auto;
}

.horizontal-rule {
  border-top: 5px solid var(--clr-black);
}

.texture {
  position: fixed;
  background-repeat: repeat;
  background-image: url("../images/noise.png");
  mix-blend-mode: normal;
  pointer-events: none;
  height: 100%;
  width: 100%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-top: calc(1ex - 1cap);
}

.card3d {
  --transition-speed: 300ms;
  position: relative;
  transform: scale(1);
  transition: all var(--transition-speed) ease-out;
  z-index: 0;
}
.card3d:hover {
  z-index: 2;
  transform: scale(1.3);
}
.card3d:not(:hover) {
  animation: z-index-hack var(--transition-speed);
}

@keyframes z-index-hack {
  0%, 100% {
    z-index: 1;
  }
}
/* ==========================================================================
Page & Layout
========================================================================== */
.home {
  display: flex;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.home__content {
  --card-width: 375px;
  --gutter: 1rem;
  --max-width: 1850px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--card-width)), 1fr));
  grid-gap: 2rem;
  width: min(var(--max-width), 100% - var(--gutter) * 2);
  margin-inline: auto;
  margin-block: 5rem;
}

.about {
  --gutter: 1rem;
  --max-width: 70ch;
  width: min(var(--max-width), 100% - var(--gutter) * 2);
  margin-inline: auto;
  padding-block: 3rem;
}
.about__title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-large);
  line-height: 1.1;
  text-wrap: balance;
  color: var(--clr-gray);
}
.about > * + * {
  margin-top: 1rem;
}
.about__heading {
  font-weight: var(--fw-bold);
  font-size: var(--fs-medium);
  line-height: 1.1;
  text-wrap: balance;
  color: var(--clr-gray);
  margin-top: 1.75rem;
}

.graphic-design {
  --gutter: 1rem;
  --max-width: 80ch;
  --gap: 0.75rem;
  width: min(var(--max-width), 100% - var(--gutter) * 2);
  margin-inline: auto;
  padding-block: 3rem;
  -moz-columns: 250px;
       columns: 250px;
  gap: var(--gap);
}
.graphic-design > * {
  margin-bottom: var(--gap);
}

.even-columns {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

/* ==========================================================================
Utility
========================================================================== */
.order-first {
  order: -1;
}

.vertical-center {
  margin-block: auto;
}

.txt-clr-red {
  color: var(--clr-red);
}

.special-font {
  font-family: var(--ff-special);
}/*# sourceMappingURL=style.css.map */